# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
.vscode
# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.swp
